<p id="notice"><%= notice %></p>

<h1>Listing Genaral Question Lists</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genaral_question_lists.each do |genaral_question_list| %>
      <tr>
        <td><%= genaral_question_list.question %></td>
        <td><%= genaral_question_list.answer %></td>
        <td><%= genaral_question_list.category %></td>
        <td><%= link_to 'Show', genaral_question_list %></td>
        <td><%= link_to 'Edit', edit_genaral_question_list_path(genaral_question_list) %></td>
        <td><%= link_to 'Destroy', genaral_question_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genaral question list', new_genaral_question_list_path %>
